$font-primary: 'Martel', serif;
$font-secondary: 'Nobile', serif;
$color-blue: #324E69;
$color-green: #078902;
$color-white: #FFF;
$color-black: #413D3D;
$color-lightBlue: #D6DBE1;
$color-orange: #F56B00;
$color-transparentBlue: #324e692a;
